<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-floating mt-4">
    <%= form.text_field :name, class: "form-control"%>
    <label for="floatingTextarea">Name</label>
  </div>


  <div class="form-floating mt-2">
  <%= form.select :client_id, @clients, { include_blank: "Selecciona un cliente" }, class: "form-select", id: "floatingSelect", "aria-label" => "Floating label select example" %>
  <label for="floatingSelect">Client</label>
</div>



  <div class="mt-2">
    <%= form.submit "Guardar", class: "btn btn-sm btn-secondary btn-outline-light" %>
  </div>
<% end %>
